<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>
		<add key="App.Iso3166CountriesUrl" value="http://www.iso.org/iso/home/standards/country_codes/country_names_and_code_elements_xml.htm" />
		<add key="App.Iso3166CountriesXmlEncoding" value="iso-8859-1" />
		<add key="App.Iso3166CountriesXmlRootElement" value="ISO_3166-1_List_en" />
		<add key="App.Iso3166CountriesXmlEntryElement" value="ISO_3166-1_Entry" />
		<add key="App.Iso3166CountriesXmlCountryNameElement" value="ISO_3166-1_Country_name" />
		<add key="App.Iso3166CountriesXmlCountryCodeElement" value="ISO_3166-1_Alpha-2_Code_element" />
		<add key="App.CountriesInOrder" value="{CN:China},{JP:Japan},{KR:Korea},{TW:Taiwan},{US:United States}" />
		<add key="App.ExportFilepath" value="~/Export" />
		<add key="App.ExportFilename" value="Iso3166Countries.xml" />
	</appSettings>
</configuration>